<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nioto.emojigame">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/emojigame_icone"
        android:label="@string/app_name"
        android:roundIcon="@drawable/emojigame_icone"
        android:supportsRtl="true">

        <!-- AdMob App ID-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7652009776235513~1976717846"/>
        <!--     -->
        <activity
            android:name="com.example.nioto.emojigame.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait"> <!-- DISABLE TOOLBAR IN MAIN ACTIVITY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nioto.emojigame.LoginActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.nioto.emojigame.auth.ProfileActivity"
            android:label="@string/toolbar_title_profile_activity"
            android:parentActivityName="com.example.nioto.emojigame.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.nioto.emojigame.activities.CreateEnigmaActivity"
            android:label="@string/toolbar_title_create_enigma_activity"
            android:parentActivityName="com.example.nioto.emojigame.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.nioto.emojigame.activities.PlayActivity"
            android:parentActivityName="com.example.nioto.emojigame.MainActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.nioto.emojigame.activities.SolveEnigmaActivity"
            android:label="Résoudre une Enigme"
            android:parentActivityName="com.example.nioto.emojigame.activities.PlayActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:screenOrientation="portrait"/>
    </application>

</manifest>